$standard_res:1366px;
$tablet_horizontal:1024px;
$tablet:768px;
#church-wedding-body{
    background:url("../images/churchwedding/stamp_background.png");
}
#ceremony{
	background:url("../images/churchwedding/ceremony_background_left.png") top left repeat-y, url("../images/churchwedding/ceremony_background_right.png") top right repeat-y;
	background-color:#e6d7c9;
	background-repeat: repeat-y;
	min-height:600px;
	padding:60px 0;
}
#ceremony-text-container{
	margin:0 auto;
	position:static;
	padding:15px;
	width:800px;
	color:#532f24;
	background-color:rgba(204,174,138,.6);
    transition: background-color 1s;
    .sponsors{
	    h4{
			color:#532f24;
	    }
    	margin:0 0 20px 0;
    	p{
    		margin:0 auto;
    		width:75%;
    	}
    	&:after{
    		content: "";
		    display: block;
		    text-align: center;
		    width: 100%;
		    height: 98px;
		    background-size: 100% 100%;
		    background-image: url(../images/churchwedding/ceremony_divider.png);
		    @media screen and (max-width:468px){
     			height:75px;
     		}
    	}
    }
}
#church-wedding-text-container{
	top: 100px;
    width: 800px;
    left: calc(50% - 400px);
    box-shadow: none;
    background-color:rgba(255,255,255,.6);
    transition: background-color 1s;
    @media screen and (min-width:1025px){
        &:hover{
            background-color: rgba(255, 255, 255, .8);
        }
    }
    @media screen and (max-width:$standard_res){
    	top:30px;
    	width:500px;
    	left: calc(50% - 250px);
    }
    @media screen and (max-width:$tablet_horizontal){
    	.section-image{
    		display:none;
    	}
    }
     @media screen and (max-width:$tablet){
    	background:rgba(158, 158, 158, 0.95);
    }
}
#couple-shower-text-container{
    top: 100px;
    left: calc(50% - 400px);
    width: 800px;
    padding: 0 60px 20px 60px;
    box-shadow: none;box-shadow: none;
    background-color:rgba(255,255,255,.6);
    transition: background-color 1s;
    @media screen and (min-width:1025px){
        &:hover{
            background-color: rgba(255, 255, 255, .8);
        }
    }
     @media screen and (max-width:$standard_res){
    	top:40px;
    	width:600px;
    	left: calc(50% - 300px);
    }
    @media screen and (max-width:$tablet_horizontal){
    	.section-image{
    		display:none;
    	}
    }
     @media screen and (max-width:$tablet){
    	background:rgba(158, 158, 158, 0.95);
    }
}